#parent{
  height: 100%;
  width: 100%;
  margin-top: 15px;
}

.image {
  display: inline-block;
  float: left;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border: 5px solid white;
  width: calc(33.3333%);
  height: 200px;
  @include media-query($on-palm) {
    height: 150px;
    width: calc(50%);
  }
}

.gallery_image {
  height:100%;
  width: 100%;
  //fill background
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.categories {
  margin-bottom: 5px;
  button{
    padding: 2px 15px;
    margin: 5px 7px 0px 0px;
    border: 2px solid #eaeaea;
    border-radius: 5px;
    background: #fff;
    color: $grey-color;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 700;
    letter-spacing: 1px;
    &:hover {
      text-decoration: none;
      background: $grey-color;
      color: white;
    }
    &:focus,:active {
      box-shadow: none;
      outline: none;
      border: 2px solid $brand-color;
    }
  }
  .active {
    //background: $grey-color-light;
  }
}
